{#
/**
 * @file
 * Template to show (hideable by default) past occurrences.
 *
 * @ingroup themeable
 *
 */
#}

<p class="inotherwords-dateranges--past">
  <input type="checkbox" id="{{ html_id }}" class="inotherwords--toggle" name="toggle" />
  <label for="{{ html_id }}" title="Show or hide past occurrences.">
  {% trans %}
    There has been one past occurrence
  {%- plural count %}
    There have been {{ word_count }} past occurrences
  {%- endtrans -%}
  </label><span class="period {{ deprioritized_class }}">.</span><span class="colon {{ deprioritized_class }}">:</span>
  <span class="{{ deprioritized_class }}">{{ items -}}.</span>
</p>
