{#
/**
 * @file
 * Theme implementation to display upcoming dates from a daterange.
 *
 * @ingroup themeable
 *
 */
#}

<p class="inotherwords-dateranges--upcoming">
  <span class="recurring--first-sentence">{{ recurring_statement }}</span>
  {% if count_initial %}
    {% if hideable_initial %}
      <input type="checkbox" id="{{ html_id_initial }}" class="inotherwords--toggle" name="toggle" />
      <label for="{{ html_id_initial }}" title="Show or hide upcoming occurrences." class="link">
        {% trans %}
          Show next occurrence
        {%- plural count_initial %}
          Show next {{ word_count_initial }}  occurrences
        {%- endtrans -%}
      </label><span class="period {{ deprioritized_class_initial }}">.</span><span class="colon {{ deprioritized_class }}">:</span>
      <span class="{{ deprioritized_class_initial }}">
    {% endif %}
      <strong class="recurring--upcoming--initial">{{ text_before }}{{ items_initial -}}{{- text_after }}</strong>
    {% if hideable_initial %}
      </span>
    {% endif %}
  {% endif %}
  {% if count %}
    <input type="checkbox" id="{{ html_id }}" class="inotherwords--toggle" name="toggle" />
    <label for="{{ html_id }}" title="Show or hide upcoming occurrences." class="link">
      {% trans %}
        There is one more upcoming occurrence
      {%- plural count %}
        There are {{ word_count }} more upcoming occurrences
      {%- endtrans -%}
    </label><span class="period {{ deprioritized_class }}">.</span><span class="colon {{ deprioritized_class }}">:</span>
    <span class="{{ deprioritized_class }}">
      <strong class="recurring--upcoming">{{ text_before }}{{ items -}}{{- text_after }}</strong>
    </span>
  {% endif %}
</p>
