{#
/**
 * @file
 * Theme implementation to display a concatenated series without whitespace.
 *
 * This is only meant to remove unwanted spaces and there's not likely a reason to override.  If you want to wrap each
 * item in <li>s for instance you probably don't want to be using In Other Words, just override a regular template.
 * What In Other Words does here is stick connectors into the series
 *
 * Rather than overriding this template, we may want to add more options to In Other Words to use plain lists rather
 * than series comma lists, or else we need to change the way the oxford_comma_list function returns items, to
 * differentiate between separator and items perhaps.  In either case please describe your specific use case in an issue
 * at https://www.drupal.org/project/issues/inotherwords and we'll take it from there.
 *
 * @TODO check how much of a performance disaster this approach is.
 *
 * @ingroup themeable
 *
 */
#}
{% spaceless %}
  {{ text_before -}}
  {% for item in items %}
    {{- item -}}
  {% endfor %}
  {{- text_after }}
{% endspaceless %}
